/.vscode
/CMakeCache.txt
/CMakeLists.txt
/CMakeFiles
/Makefile
/build
/unused
/cmake_install.cmake
/detect_cuda_compute_capabilities.cu
/detect_cuda_version.cc
/gmon.out
/singlethread
/models
/matches
